In [2]:
# Importando as bibliotecas necessárias
import duckdb
import pandas as pd

# Configurando o pandas para mostrar todas as colunas
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Conectando ao nosso banco de dados
# O caminho é relativo à raiz do projeto, onde o notebook está
con = duckdb.connect('hubspot_elt_project/hubspot_raw.db')

# --- Inspecionando a tabela COMPANIES ---
print("--- Estrutura da Tabela: companies ---")
display(con.execute('DESCRIBE companies;').df())

# --- Inspecionando a tabela DEALS ---
print("\n--- Estrutura da Tabela: deals ---")
display(con.execute('DESCRIBE deals;').df())

# --- Inspecionando a tabela Contacts ---
print("\n--- Estrutura da Tabela: contacts ---")
display(con.execute('DESCRIBE contacts;').df())

# Lembre-se de fechar a conexão quando não estiver mais usando ativamente
# para evitar problemas de lock. Você pode comentar esta linha enquanto estiver
# trabalhando e descomentá-la ao final.
# con.close()

--- Estrutura da Tabela: companies ---

                       column_name column_type null   key default extra
0                               id     VARCHAR  YES  None    None  None
1          properties_with_history     INTEGER  YES  None    None  None
2                       created_at     VARCHAR  YES  None    None  None
3                       updated_at     VARCHAR  YES  None    None  None
4                         archived     BOOLEAN  YES  None    None  None
5                      archived_at     INTEGER  YES  None    None  None
6                     associations     INTEGER  YES  None    None  None
7            properties.createdate     VARCHAR  YES  None    None  None
8                properties.domain     VARCHAR  YES  None    None  None
9   properties.hs_lastmodifieddate     VARCHAR  YES  None    None  None
10         properties.hs_object_id     VARCHAR  YES  None    None  None
11             properties.industry     INTEGER  YES  None    None  None
12                 properties.name     VARCHAR  YES  None    None  None

--- Estrutura da Tabela: deals ---

                       column_name column_type null   key default extra
0                               id     VARCHAR  YES  None    None  None
1          properties_with_history     INTEGER  YES  None    None  None
2                       created_at     VARCHAR  YES  None    None  None
3                       updated_at     VARCHAR  YES  None    None  None
4                         archived     BOOLEAN  YES  None    None  None
5                      archived_at     INTEGER  YES  None    None  None
6                     associations     INTEGER  YES  None    None  None
7                properties.amount     VARCHAR  YES  None    None  None
8             properties.closedate     VARCHAR  YES  None    None  None
9            properties.createdate     VARCHAR  YES  None    None  None
10             properties.dealname     VARCHAR  YES  None    None  None
11            properties.dealstage     VARCHAR  YES  None    None  None
12  properties.hs_lastmodifieddate     VARCHAR  YES  None    None  None
13         properties.hs_object_id     VARCHAR  YES  None    None  None
14             properties.pipeline     VARCHAR  YES  None    None  None

--- Estrutura da Tabela: contacts ---

                    column_name column_type null   key default extra
0                            id     VARCHAR  YES  None    None  None
1       properties_with_history     INTEGER  YES  None    None  None
2                    created_at     VARCHAR  YES  None    None  None
3                    updated_at     VARCHAR  YES  None    None  None
4                      archived     BOOLEAN  YES  None    None  None
5                   archived_at     INTEGER  YES  None    None  None
6                  associations     INTEGER  YES  None    None  None
7         properties.createdate     VARCHAR  YES  None    None  None
8              properties.email     VARCHAR  YES  None    None  None
9          properties.firstname     VARCHAR  YES  None    None  None
10      properties.hs_object_id     VARCHAR  YES  None    None  None
11  properties.lastmodifieddate     VARCHAR  YES  None    None  None
12          properties.lastname     VARCHAR  YES  None    None  None
13    properties.lifecyclestage     VARCHAR  YES  None    None  None

In [3]:
con.close()