In [14]:
# Importando as bibliotecas necessárias
import duckdb
import pandas as pd

# Configurando o pandas para mostrar todas as colunas
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Conectando ao nosso banco de dados
# O caminho é relativo à raiz do projeto, onde o notebook está
con = duckdb.connect('hubspot_elt_project/hubspot_raw.db')

# --- Inspecionando a tabela COMPANIES ---
print("--- Estrutura da Tabela: companies ---")
display(con.execute('DESCRIBE companies;').df())

# --- Inspecionando a tabela DEALS ---
print("\n--- Estrutura da Tabela: deals ---")
display(con.execute('DESCRIBE deals;').df())

# --- Inspecionando a tabela Contacts ---
print("\n--- Estrutura da Tabela: contacts ---")
display(con.execute('DESCRIBE contacts;').df())

# Lembre-se de fechar a conexão quando não estiver mais usando ativamente
# para evitar problemas de lock. Você pode comentar esta linha enquanto estiver
# trabalhando e descomentá-la ao final.
con.close()

--- Estrutura da Tabela: companies ---

                        column_name column_type null   key default extra
0                                id     VARCHAR  YES  None    None  None
1           properties_with_history     INTEGER  YES  None    None  None
2                        created_at     VARCHAR  YES  None    None  None
3                        updated_at     VARCHAR  YES  None    None  None
4                          archived     BOOLEAN  YES  None    None  None
5                       archived_at     INTEGER  YES  None    None  None
6                      associations     INTEGER  YES  None    None  None
7             properties.createdate     VARCHAR  YES  None    None  None
8                 properties.domain     VARCHAR  YES  None    None  None
9   properties.especialidade_medica     VARCHAR  YES  None    None  None
10   properties.hs_lastmodifieddate     VARCHAR  YES  None    None  None
11          properties.hs_object_id     VARCHAR  YES  None    None  None
12                  properties.name     VARCHAR  YES  None    None  None

--- Estrutura da Tabela: deals ---

                       column_name column_type null   key default extra
0                               id     VARCHAR  YES  None    None  None
1          properties_with_history     INTEGER  YES  None    None  None
2                       created_at     VARCHAR  YES  None    None  None
3                       updated_at     VARCHAR  YES  None    None  None
4                         archived     BOOLEAN  YES  None    None  None
5                      archived_at     INTEGER  YES  None    None  None
6                     associations     INTEGER  YES  None    None  None
7                properties.amount     VARCHAR  YES  None    None  None
8             properties.closedate     VARCHAR  YES  None    None  None
9            properties.createdate     VARCHAR  YES  None    None  None
10             properties.dealname     VARCHAR  YES  None    None  None
11            properties.dealstage     VARCHAR  YES  None    None  None
12  properties.hs_lastmodifieddate     VARCHAR  YES  None    None  None
13         properties.hs_object_id     VARCHAR  YES  None    None  None
14             properties.pipeline     VARCHAR  YES  None    None  None

--- Estrutura da Tabela: contacts ---

                    column_name column_type null   key default extra
0                            id     VARCHAR  YES  None    None  None
1       properties_with_history     INTEGER  YES  None    None  None
2                    created_at     VARCHAR  YES  None    None  None
3                    updated_at     VARCHAR  YES  None    None  None
4                      archived     BOOLEAN  YES  None    None  None
5                   archived_at     INTEGER  YES  None    None  None
6                  associations     INTEGER  YES  None    None  None
7         properties.createdate     VARCHAR  YES  None    None  None
8              properties.email     VARCHAR  YES  None    None  None
9          properties.firstname     VARCHAR  YES  None    None  None
10      properties.hs_object_id     VARCHAR  YES  None    None  None
11  properties.lastmodifieddate     VARCHAR  YES  None    None  None
12          properties.lastname     VARCHAR  YES  None    None  None
13    properties.lifecyclestage     VARCHAR  YES  None    None  None

In [15]:
import duckdb
import pandas as pd

# Garante que o pandas exibirá todas as colunas
pd.set_option('display.max_columns', None)

# O caminho para o seu banco de dados DuckDB.
# Este deve ser o mesmo caminho que o dbt está usando.
# Como seu notebook está na raiz do projeto, o caminho é direto.
db_path = 'hubspot_elt_project/hubspot_raw.db'

# Conecta ao banco de dados em modo de leitura para segurança
con = duckdb.connect(database=db_path, read_only=True)

# Executa a consulta na view criada pelo dbt e converte para um DataFrame do Pandas
try:
    df_companies = con.execute("SELECT * FROM stg_companies LIMIT 10").df()
    print("--- Dados de stg_companies ---")
    display(df_companies)
except duckdb.CatalogException as e:
    print(f"Erro ao consultar a view: {e}")
    print("Você se lembrou de executar 'dbt run --select stg_companies' primeiro?")

# É uma boa prática fechar a conexão
con.close()

--- Dados de stg_companies ---

    company_id                   company_name                domain especialidade_medica              created_at        last_modified_at
0  35984344921         Dr(a). Benjamin da Paz            paz.med.br          Cardiologia 2025-07-11 14:11:44.067 2025-07-11 14:11:44.571
1  35986207906        Dr(a). Dr. Lucas Mendes         mendes.med.br          Cardiologia 2025-07-11 14:11:44.007 2025-07-11 14:11:44.581
2  35986207907      Dr(a). Henrique Rodrigues      rodrigues.med.br            Ortopedia 2025-07-11 14:11:44.581 2025-07-11 14:11:45.305
3  35991890281         Dr(a). Heitor da Cunha          cunha.med.br            Ortopedia 2025-07-11 14:11:44.007 2025-07-11 14:11:45.809
4  35992511508        Dr(a). Davi Luiz Fogaça  xn--fogaa-1ra.med.br                Neuro 2025-07-11 14:11:43.908 2025-07-11 14:11:44.571
5  35992823308       Dr(a). Enzo Gabriel Lima           lima.med.br                Neuro 2025-07-11 14:11:43.772 2025-07-11 14:11:45.714
6  35993593457       Dr(a). Joaquim das Neves          neves.med.br                Neuro 2025-07-11 14:11:44.582 2025-07-11 14:11:45.940
7  35994055958          Dr(a). Lucca Silveira       silveira.med.br                Neuro 2025-07-11 14:11:44.048 2025-07-11 14:11:45.119
8  36014800188  Dr(a). João Felipe Cavalcanti     cavalcanti.med.br            Ortopedia 2025-07-11 14:11:44.115 2025-07-11 14:11:45.689
9  36014800189       Dr(a). Sr. Marcelo Pinto          pinto.med.br            Ortopedia 2025-07-11 14:11:44.461 2025-07-11 14:11:46.258

In [27]:
import duckdb
import pandas as pd

pd.set_option('display.max_columns', None)
db_path = 'hubspot_elt_project/hubspot_raw.db'
con = duckdb.connect(database=db_path, read_only=True)

# Vamos olhar para TODAS as colunas da tabela BRUTA de deals
# para encontrar a associação com a empresa.
try:
    df_raw_deal = con.execute("SELECT * FROM deals LIMIT 10").df()
    print("--- Conteúdo Bruto de um Registro da Tabela 'deals' ---")
    display(df_raw_deal)
except Exception as e:
    print(f"Erro ao consultar a tabela 'deals': {e}")

con.close()

--- Conteúdo Bruto de um Registro da Tabela 'deals' ---

  amount                 closedate     company_domain                   contact_email                createdate                     dealname              dealstage       hs_lastmodifieddate hs_object_id pipeline           id                        created_at                        updated_at  archived
0  72566                      None  cavalcanti.med.br    rafaela.da.cunha@hotmail.com  2025-07-11T14:15:23.510Z        Atendimento - Rafaela  presentationscheduled  2025-07-11T14:15:34.001Z  39978736909  default  39978736909  2025-07-11T14:15:23.510000+00:00  2025-07-11T14:15:34.001000+00:00     False
1   1627                      None         paz.med.br  maria.eduarda.pires@uol.com.br  2025-07-11T14:15:23.524Z  Atendimento - Maria Eduarda  decisionmakerboughtin  2025-07-11T14:15:31.731Z  39979216681  default  39979216681  2025-07-11T14:15:23.524000+00:00  2025-07-11T14:15:31.731000+00:00     False
2  53613                      None      fogaça.med.br        sophia.almeida@ig.com.br  2025-07-11T14:15:23.612Z         Atendimento - Sophia  presentationscheduled  2025-07-11T14:15:32.059Z  39979216682  default  39979216682  2025-07-11T14:15:23.612000+00:00  2025-07-11T14:15:32.059000+00:00     False
3  27354                      None        lima.med.br       letícia.costela@gmail.com  2025-07-11T14:15:23.793Z        Atendimento - Letícia         qualifiedtobuy  2025-07-11T14:15:31.722Z  39979216683  default  39979216683  2025-07-11T14:15:23.793000+00:00  2025-07-11T14:15:31.722000+00:00     False
4  67357                      None      mendes.med.br          joana.araújo@ig.com.br  2025-07-11T14:15:23.628Z          Atendimento - Joana           contractsent  2025-07-11T14:15:33.158Z  39981034621  default  39981034621  2025-07-11T14:15:23.628000+00:00  2025-07-11T14:15:33.158000+00:00     False
5  12609  2025-07-11T14:15:23.810Z      fogaça.med.br   ana.luiza.da.cunha@uol.com.br  2025-07-11T14:15:23.810Z      Atendimento - Ana Luiza             closedlost  2025-07-11T14:15:34.536Z  39981034623  default  39981034623  2025-07-11T14:15:23.810000+00:00  2025-07-11T14:15:34.536000+00:00     False
6  16305                      None         paz.med.br       felipe.peixoto@bol.com.br  2025-07-11T14:15:23.817Z         Atendimento - Felipe   appointmentscheduled  2025-07-11T14:15:31.834Z  39981034624  default  39981034624  2025-07-11T14:15:23.817000+00:00  2025-07-11T14:15:31.834000+00:00     False
7   5739                      None      mendes.med.br     benjamin.carvalho@gmail.com  2025-07-11T14:15:23.793Z       Atendimento - Benjamin         qualifiedtobuy  2025-07-11T14:15:34.434Z  39982269957  default  39982269957  2025-07-11T14:15:23.793000+00:00  2025-07-11T14:15:34.434000+00:00     False
8  33755                      None    silveira.med.br   joão.gabriel.costa@uol.com.br  2025-07-11T14:15:23.818Z   Atendimento - João Gabriel  presentationscheduled  2025-07-11T14:15:32.183Z  39982269958  default  39982269958  2025-07-11T14:15:23.818000+00:00  2025-07-11T14:15:32.183000+00:00     False
9   6997                      None       pinto.med.br       larissa.fogaça@bol.com.br  2025-07-11T14:15:23.458Z        Atendimento - Larissa  decisionmakerboughtin  2025-07-11T14:15:37.758Z  39986866467  default  39986866467  2025-07-11T14:15:23.458000+00:00  2025-07-11T14:15:37.758000+00:00     False

In [ ]:
import duckdb
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:,.2f}'.format) # Formata os números para melhor leitura

# Use o caminho absoluto para garantir que funcione
db_path = '/home/marcos/projects/modern_elt/hubspot_elt_project/hubspot_raw.db'

con = duckdb.connect(database=db_path, read_only=True)
df_mart = con.execute("SELECT * FROM stg_deals").df()
con.close()

print("--- 📊 Data Mart Final: Métricas de LTV por Empresa ---")
print(df_mart.describe())
display(df_mart)

--- 📊 Data Mart Final: Métricas de LTV por Empresa ---

,deal_id,company_domain,contact_email,deal_name,deal_stage,pipeline,amount,created_at,closed_at,last_modified_at
0,39978736909,cavalcanti.med.br,rafaela.da.cunha@hotmail.com,Atendimento - Rafaela,presentationscheduled,default,"72,566.00",2025-07-11 14:15:23.510,NaT,2025-07-11 14:15:34.001
1,39979216681,paz.med.br,maria.eduarda.pires@uol.com.br,Atendimento - Maria Eduarda,decisionmakerboughtin,default,"1,627.00",2025-07-11 14:15:23.524,NaT,2025-07-11 14:15:31.731
2,39979216682,fogaça.med.br,sophia.almeida@ig.com.br,Atendimento - Sophia,presentationscheduled,default,"53,613.00",2025-07-11 14:15:23.612,NaT,2025-07-11 14:15:32.059
3,39979216683,lima.med.br,letícia.costela@gmail.com,Atendimento - Letícia,qualifiedtobuy,default,"27,354.00",2025-07-11 14:15:23.793,NaT,2025-07-11 14:15:31.722
4,39981034621,mendes.med.br,joana.araújo@ig.com.br,Atendimento - Joana,contractsent,default,"67,357.00",2025-07-11 14:15:23.628,NaT,2025-07-11 14:15:33.158
...,...,...,...,...,...,...,...,...,...,...
95,40009973015,pinto.med.br,isabel.melo@hotmail.com,Atendimento - Isabel,presentationscheduled,default,"39,578.00",2025-07-11 14:15:23.613,NaT,2025-07-11 14:15:32.059
96,40009973016,cavalcanti.med.br,gabrielly.barros@ig.com.br,Atendimento - Gabrielly,qualifiedtobuy,default,"26,672.00",2025-07-11 14:15:23.697,NaT,2025-07-11 14:15:29.903
97,40010022790,mendes.med.br,giovanna.barros@bol.com.br,Atendimento - Giovanna,closedlost,default,"64,779.00",2025-07-11 14:15:23.479,2025-07-11 14:15:23.479,2025-07-11 14:15:30.798
98,40010332035,mendes.med.br,henrique.da.costa@gmail.com,Atendimento - Henrique,decisionmakerboughtin,default,"27,407.00",2025-07-11 14:15:23.511,NaT,2025-07-11 14:15:31.731
99,40010332036,pinto.med.br,bianca.sales@uol.com.br,Atendimento - Bianca,closedwon,default,"6,837.00",2025-07-11 14:15:23.511,2025-07-11 14:15:23.511,2025-07-11 14:15:33.159